{% extends "index.twig" %}

{% block content %}
    <form>
        <label>
            <input type="search" name="search" value="{{ search }}" placeholder="Search"/>
        </label>

        <button type="submit">Search</button>
    </form>

    {% if profiles|length %}
        <ul class="list-holder">
            {% for profile in profiles %}
            <li class="list-item">
                <a href="{{ getProfileUrl(profile.id) }}">
                    {{ profile.name }}
                </a>
                <div class="right">
                    <data class="attr" value="{{ profile.createdAt.toISOString() }}">({{ profile.createdAt.toLocaleString() }})</data>

                    <span class="attr">{{ profile.duration / 1000000 }}ms</span>
                    <a class="gg-remove" href="{{ getDeleteUrl(profile) }}"></a>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="pagination center">
            <a {% if currentPage > 1 %}href="{{ getUrl(currentPage - 1) }}"
               {% else %}class="disabled"{% endif %}>&laquo;</a>

            {% for page in range(1, totalPages) %}
                <a {% if page == currentPage %}class="active" {% else %} href="{{ getUrl(page) }}"{% endif %}>{{ page }}</a>
            {% endfor %}

            <a {% if currentPage < totalPages %}href="{{ getUrl(currentPage + 1) }}" {% else %}class="disabled"{% endif %}>&raquo;</a>
        </div>
    {% else %}
        <div>No profiles yet.</div>
    {% endfor %}
{% endblock %}

{% block styles %}
    {{ parent() }}
    <style>
        form {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
        }

        form input {
            padding: 7px 10px;
            border: solid 1px #333;
            border-radius: 5px;
            font-size: 1em;
        }

        form button {
            padding: 7px;
            font-size: 1em;
            text-transform: uppercase;
            border-radius: 5px;
            border: solid 1px green;
            background-color: green;
            color: white;
        }

        .gg-remove {
            box-sizing: border-box;
            position: relative;
            display: block;
            transform: scale(var(--ggs, 1));
            width: 22px;
            height: 22px;
            border: 2px solid;
            border-radius: 22px;
        }
        .gg-remove::before {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            width: 10px;
            height: 2px;
            background: currentColor;
            border-radius: 5px;
            top: 8px;
            left: 4px;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        .list-holder {
            max-width: 1200px;
        }

        .list-item {
            background-color: #fff;
            box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.5);
            padding: 10px;
            margin: 20px 0;
            border-radius: 10px;
            list-style: none;
            display: flex;
            justify-content: space-between;
        }

        .list-item .right {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }

        .attr {
            color: #999;
            font-style: italic;
            font-size: 0.8em;
        }

        .pagination {
            display: inline-block;
        }

        .center {
            text-align: center;
        }

        .pagination {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            margin: 0 4px;
        }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
        }

        .pagination a.disabled {
            opacity: 0.5;
            cursor: no-drop;
        }

        .pagination a:hover:not(.active):not(.disabled) {
            background-color: #ddd;
        }
    </style>
{% endblock %}